{%extends "base.html"%}

<!-- {% block content %}
    {% for post in posts%}
        <article class="media content-section">
            <div class="media-body">
                <div class="media-body">
                    <a class="article-metadata" href="#"> {{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a> </h2>
                <p class ="article-content"> {{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %} -->
<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Hotel_image</title> 
</head> 
<body> 
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Upload</button> 
    </form> 
</body> 
</html> 
