{%extends "Maps/base.html"%}

{% block content %}
    <script type="text/javascript">
        let map;

        function initMap() {
            const location = { lat: -34.397, lng: 150.644 }

            map = new google.maps.Map(document.getElementById("map"), {
                center: location,
                zoom: 11,
            });

            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        map.setCenter(pos);

                        const marker = new google.maps.Marker({
                            position: pos,
                            map: map,
                            title: "Your Location"
                        });

                        createCompanyMarker(map, {lat: 50.12538, lng: -122.97130}, "Whistler Chocolate",
                                            "Whistler", "https://www.google.com/");
                    },
                    () => {
                        handleLocationError();
                    }
                )
            } else {
                handleLocationError()
            }
        }

        function handleLocationError() {
            alert("Error: Location services has failed.");
        }

        function createCompanyMarker(map, position, company_name, city, website) {
            const cmpMarker = new google.maps.Marker({
                position: position,
                map: map,
                title: company_name
            });

            const contentString =   '<div class="container">' +
                                    '<div class="marker_company">' +
                                    '<h4>' + company_name + '</h4>' +
                                    '<p>City: ' + city + '</p>' +
                                    '<a href="' + website + '" target="_blank" class="btn btn-primary" role="button">Visit Website</a>' +
                                    '</div>' +
                                    '</div>';

            const infoWindow = new google.maps.InfoWindow({
                content: contentString
            });

            cmpMarker.addListener("click", () => {
                infoWindow.open(map, cmpMarker);
            });
        }
    </script>

    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .marker_company {

        }
    </style>

    <div id="map"></div>
{% endblock %}