{% extends "Home/base.html" %}

{%  load crispy_forms_tags  %}

  {% block title %}

  <script>
    $(document).ready(function(){
        $("#registerFail").modal('show');
    });
  </script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Register</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="ml-auto text-dark">
        <a class="nav-link" href="/login/">
          <span class="fa-stack fa-lg">
              <i class="fas fa-sign-in-alt"></i>
          </span> <p>Log In</p>  </a>
      </div>
</nav>
    <style>
      html, body {
        background: rgb(60,85,248) no-repeat center center fixed;
        background: -moz-linear-gradient(320deg, rgba(60,85,248,1) 0%, rgba(62,155,255,1) 100%);
        background: -webkit-linear-gradient(320deg, rgba(60,85,248,1) 0%, rgba(62,155,255,1) 100%);
        background: linear-gradient(320deg, rgba(60,85,248,1) 0%, rgba(62,155,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c55f8",endColorstr="#3e9bff",GradientType=1);
      }

      .container-fluid {
        height: 100vh;  
      }

      .vertical-align {
        display: flex;
        flex-direction: row;
      }

      .vertical-align > [class^="col-"],
      .vertical-align > [class*=" col-"] {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
    
    <div class="container-fluid" >
      <div class="row vertical-align">
        <div class="col-sm-12">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Login</h5>
              <form class="mb-3" method="POST">
                {% csrf_token %}
                <!-- <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input type="text" label="username" class="form-control">
                </div> -->
                <div class="mb-3">
                  <!-- <label class="form-label">Password</label>
                  <input type="password" label="password" class="form-control"> -->
                  {{form_registration}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <p class="card-text text-right">Or <a href="/register/">Signup</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- {%  crispy form_registration form_registration.helper  %} -->
      <br>
      {% for message in messages %}
        <div class="modal fade" id="registerFail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: red; font: border-style;">ERROR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                {{ message }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endblock title %}